body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
  color: #111;
  width: 100%;
  max-width: 1800px;
  font-family: "Questrial", sans-serif;
}

body * {
  transition: all 300ms ease-in-out;
}

p {
  font-size: 1em;
}

a {
  color: #111;
  text-decoration: none;
}

header {
  background: url("https://images.unsplash.com/photo-1503058474900-cb76710f9cd1?auto=format&fit=crop&w=1950&q=80") center;
  background-size: 100%;
  height: 650px;
}

header .header-data {
  color: #eee;
  width: 50%;
  padding-top: 14%;
  margin: 0 auto;
  text-align: center;
}

header .header-data h1 {
  font-size: 100px;
  padding: 0;
  margin: 0;
}

header nav {
  padding: 0;
  margin: 0;
  background: #eee;
  position: fixed;
  width: 100%;

  max-width: 1800px;
  border-bottom: 5px solid #6a00c7;
}

header nav ul {
  padding: 0;
  margin: 0;
  width: 46%;
  position: relative;
  display: inline-block;
}

header nav ul:last-of-type {
  text-align: right;
}

header nav ul li {
  display: inline-table;
  margin-right: 0px;
  list-style-type: none;
}

header nav ul li a {
  color: #111;
  text-decoration: none;
  padding: 20px;
  font-size: 1em;
  display: block;
}

header nav ul li a:hover {
  background: #6a00c7;
  color: #fff;
}

.container {
  padding: 50px 10px;
  text-align: center;
}

.cards {
  width: 30%;
  box-shadow: 0px 2px 2px #aaa;
  padding: 10px;
  margin: 5px;
  text-align: left;
  display: inline-table;
}

.cards .icons {
  font-size: 100px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  color: #aaa;
  padding: 20px 0;
}

.cards .icons img {
  /* border-radius: 100%; */
  /* width: 150px; */
}

.cards .content {
  width: 70%;
  margin: 0 auto;
}

.cards .content .content-title,
.title {
  font-size: 30px;
  font-family: "Domine";
}

.dual-card {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.dual-card div {
  width: 30%;
  display: inline-block;
  text-align: left;
  margin: 5px;
  vertical-align: middle;
}

.dual-card div img {
  width: 100%;
  height: auto;
}

.img-section {
  width: 100%;
  margin-top: 40px;
  background: url("https://images.unsplash.com/photo-1456743625079-86a97ff8bc86?auto=format&fit=crop&w=1489&q=80") fixed;
  height: 400px;
  background-size: 100%;
}

.imgs-bar {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.imgs-bar img {
  margin: 10px;
  display: inline-block;
  width: 20%;
  box-shadow: 0px 2px 2px #aaa;
}

section {
  margin: 40px 0;
}

footer {
  margin-top: 40px;
  background: #ddd;
  text-align: center;
}

footer div {
  display: inline-block;
}

footer .data ul {
  display: inline-block;
}

footer div ul {
  list-style-type: none;
}

footer div ul li {
  display: inline-table;
  margin: 10px;
}

.articles {
  text-align: center;
}

#menu {
  display: none;
}

#nav-icon {
  width: 30px;
  height: 45px;
  position: absolute;
  right: 10px;
  z-index: 99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #6a00c7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 9px;
}

#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.quote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
  position: relative;
  z-index: -1;
}

.quote:before {
  position: absolute;
  color: #aaa;
  content: open-quote;
  font-size: 40px;
  left: -10px;
  top: -5px;
}

@media (min-width: 600px) and (max-width: 1120px) {
  header .header-data {
    padding-top: 160px;
    margin: 0 auto;
    text-align: center;
  }

  header .header-data h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }

  header nav ul {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  header {
    height: 350px;
  }

  header nav ul:last-of-type {
    text-align: center;
    display: none;
  }

  header nav ul:last-of-type li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .cards {
    width: 50%;
    margin: 20px;
  }

  .dual-card {
    width: 100%;
    margin: 0;
  }

  .img-section {
    height: 300px;
  }

  #menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }
}

@media (min-width: 0px) and (max-width: 599px) {
  header .header-data {
    display: none;
  }

  header nav {
    padding: 0;
    margin: 0;
  }

  header nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  header {
    height: 200px;
  }

  header nav ul:last-of-type {
    text-align: center;
    display: none;
  }

  header nav ul:last-of-type li {
    display: block;
    margin: 0;
    padding: 0;
  }

  .img-section {
    height: 200px;
  }

  .cards {
    width: 100%;
    padding: 0;
    margin: 10px 0px;
  }

  .dual-card {
    width: 100%;
    margin: 0;
  }

  .dual-card div {
    width: 95%;
    padding: 5px 2px;
    display: block;
  }

  #menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .imgs-bar img {
    margin: 10px auto;
    display: block;
    width: 95%;
    box-shadow: 0px 2px 2px #aaa;
  }

  footer {
    padding: 40px 0;
  }

  footer div {
    display: block;
  }

  footer div.data {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  footer div.media {
    padding-top: 20px;
  }

  footer div ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  footer div.data ul {
    margin: 0;
    display: block;
    padding: 0;
  }

  footer div.data ul li {
    margin: 10px 0;
    display: block;
    padding: 0;
  }

  footer .media ul li a {
    font-size: 60px;
  }

  .btn-style-two {
    position: relative;
    padding: 11px 32px;
    line-height: 29px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    background-color: #e5a62d;
    border: 2px solid #e5a62d;
  }
}